Здравствуйте!

Кто-то (возможно, вы) пытался зарегистрироваться в {{ app_name }} с этим адресом электронной почты, но аккаунт с ним уже существует.

Войти в аккаунт: {{ login_url }}
Забыли пароль: {{ reset_url }}

Если это были не вы, ничего делать не нужно: ваш аккаунт не изменился.

{% include "_footer.text.j2" %}
