Здравствуйте!

Для вашего аккаунта в {{ app_name }} запрошена смена адреса почты на {{ new_email_masked }}. Адрес изменится, только когда владелец нового адреса подтвердит смену.

Если это были не вы, срочно смените пароль: {{ reset_url }}

{% include "_footer.text.j2" %}
