Здравствуйте!

Мы получили запрос на сброс пароля от аккаунта в {{ app_name }}. Чтобы задать новый пароль, откройте ссылку:

{{ reset_url }}

Если ссылка не открывается, введите этот код вручную:

{{ token }}

Ссылка и код действуют {{ ttl_minutes }} минут и работают один раз. После сброса все ваши сессии будут закрыты.

Если вы не запрашивали сброс, просто проигнорируйте это письмо: пароль не изменится.

{% include "_footer.text.j2" %}
