Здравствуйте!

Чтобы завершить регистрацию в {{ app_name }}, подтвердите адрес электронной почты. Откройте ссылку:

{{ verify_url }}

Если ссылка не открывается, введите этот код подтверждения вручную:

{{ token }}

Ссылка и код действуют {{ ttl_hours }} ч и работают один раз.

Если вы не регистрировались в {{ app_name }}, просто проигнорируйте это письмо: без подтверждения аккаунт не будет активирован.

{% include "_footer.text.j2" %}
